POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeMe_StrongPassword_Here
POSTGRES_DB=honeypot

JWT_SECRET=ChangeMe_RandomLongSecretKey_Here_Min32Chars

INGEST_API_KEY=e270a4b8c39c2895f33bb91004dcea409f52b000f113480a

GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

SSO_CLIENT_ID=YOUR_SSO_APP_ID_HERE
SSO_CLIENT_SECRET=YOUR_SSO_CLIENT_SECRET_HERE
SSO_CALLBACK_URL=https://odt-siem-uat.kku.ac.th/callback

HTTP_PORT=18080
HTTPS_PORT=18443

COWRIE_SSH_PORT=22222

WEBTRAP_HTTP_PORT=28081
